@charset 'UTF-8';

@font-face {
  font-family: 'TGE';
  src: url('/build/fonts/tge.woff');
  font-weight: normal;
}
@font-face {
  font-family: 'TGE';
  src: url('/build/fonts/tgeb.woff');
  font-weight: bold;
}


@keyframes brand {
  from {color: #cdbfe3;}
  to {color: #fff;}
}
@-webkit-keyframes brand {
  from {color: #cdbfe3;}
  to {color: #fff;}
}


::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  border: 4px solid rgba(255,255,255,0);
  background-clip: content-box;
  background-color: #A0A0A0;
}
::-webkit-scrollbar-corner {
  background-color: #e6e6e6;
}


html, body {
  height: 100%;
}

/* common css */
.sep {
  border-bottom:solid 1px #e6e6e6;
}
.align-center {
  text-align: center;
}
.margin-top {
  margin-top: 15px;
}
.margin-bottom {
  margin-bottom: 15px;
}
.margin-left-small {
  margin-left: 5px;
}
.margin-top-small {
  margin-top: 5px;
}
.margin-bottom-small {
  margin-bottom: 5px;
}
.margin-left {
  margin-left: 10px;
}
.padding-top-small {
  padding-top: 5px;
}
.padding-bottom {
  padding-bottom: 15px;
}
.clear {
  clear: both;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* navbar */
.navbar.navbar-default.navbar-fixed-top {
  padding: 0 20px;
  text-shadow: 0 -1px 0 rgba(0,0,0,.15);
  background-color: #ff2500;
  box-shadow: 0 1px 0 rgba(255,255,255,.1);
}
.navbar.navbar-default.navbar-fixed-top ul {
  line-height: 30px;
}
.navbar.navbar-default.navbar-fixed-top >ul >li {
  min-height: 50px;
}
.navbar.navbar-default.navbar-fixed-top .navbar-nav>li>a { 
  color: #fff;
}
.navbar.navbar-default.navbar-fixed-top .navbar-nav>li>a:hover, .navbar.navbar-default.navbar-fixed-top .nav>li>a:focus {
  color: #cdbfe3;
  background-color: transparent;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
  background-color: transparent;
}
.nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
  background-color: transparent;
}
.navbar .navbar-brand {
  font: bold 28px/16px 'TGE';
  animation: brand 1s ease 500ms;
  -webkit-animation: brand 1s ease 500ms;
  transition: all 500ms;
  -webkit-transition: all 500ms;
  color: #cdbfe3;
  text-transform: capitalize;
  padding-top: 9px;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-brand>img {
  display: inline-block;
  width: 90px;
  height: 30px;
}

/* wapper */
#page-wrapper {
  overflow-x: hidden;
  margin-top: 50px;
  height: 100%;
  width: 100%;
  padding-left: 55px;
  padding-right: 55px;
}

.font-red {
  color: red;
}
.font-green {
  color: green;
}
.font-blue {
  color: #4f9fcf;
}

.placeholder {
  width: 100%;
  height: 30px;
}
