/* Form */
.report-form-container {
  position: relative;
  margin: 10px -15px 15px;
}
.dimensionForm {
  overflow: hidden;
}
.dimensionForm dt {
  font-size: 12px;
  color: white;
  padding: 0 6px 2px;
  margin: 3px 0 -2px;
  background: #ff2500;
  border-radius: 3px 3px 0 0;
}
.dimensionForm dt:after {
  content: ":";
}
.dimensionForm .datex {
  width: 120px;
}
.dimensionForm .form-group select {
  width: 100%;
}
.form-inline label {
  vertical-align: top;
}

.form-inline .input-mini {width:60px}
.form-inline .input-small {width:90px}
.form-inline .input-medium {width:150px}
.form-inline .input-large {width:180px}
.form-inline .input-xlarge {width:210px}
.form-inline .input-xxlarge {width:290px}
.form-inline .input-xxxlarge {width:420px}


.dimensionForm .form-control {
  border-color: #F8C695;
}
.btn-default {
  border-color: #F8C695;
  color: #e27000;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
  border-color: #F8C695;
  background: -webkit-gradient(linear,0% 0%, 0% 90%,from(#ffffff),to(#fed7b2));
  background: -moz-linear-gradient(top,#ffffff,#fed7b2);
  background: -o-linear-gradient(top,#ffffff,#fed7b2);
  background: -ms-linear-gradient(top,#ffffff,#fed7b2);
  background: linear-gradient(top,#ffffff,#fed7b2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='fed7b2');
  background: linear-gradient(top,#ffffff,#fed7b2);
  color: #e27000;
}
.btn:active, .btn.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.select2-container--bootstrap .select2-search--dropdown .select2-search__field, .select2-container--bootstrap .select2-selection {
  border-color: #F8C695;
}
.select2-container--bootstrap .select2-selection--multiple .select2-selection__choice {
  border: 1px solid #F8C695;
  background-color: #FEE1C4;
}


/* css for result metric list*/
.metrics-list {
  margin-bottom: 10px;
}

/* css for result chart*/
.chart-box {
  padding: 5px;
}
.result-chart {
  border: 1px solid #ddd;
  border-radius: 10px;
  min-height: 360px;
  padding: 10px;
  background-color: #eee;
}
.highcharts-container {
  border-radius: 4px;
}
.chartCanvas {
  height: 350px;
}

/* css for result table*/
.table-container {
  overflow-x: scroll;
  width: 100%;
}
.table-container table {
  font-size: 12px;
  /*border-collapse: collapse;*/
}
.table-container .row {
  width: 99.5%;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  display: inline;
  padding: 0;
}
table.dataTable .list-group {
  margin-bottom: 0;
}
table.dataTable .list-group li {
  position: relative;
  display: block;
  background-color: transparent;
  border-bottom: 1px solid #ddd;
}
table.dataTable .list-group li.base {
  padding: 10px 5px
/*  height: 38px*/
}
table.dataTable .list-group li.exp {
  height: 76px
}
table.dataTable .list-group li.exp>p {
  border-bottom: 1px solid #ddd;
  padding: 10px 5px;
  margin: 0px
}
table.dataTable .list-group li.exp>p:last-child {
  border-bottom: none;
}
table.dataTable .list-group li.exp.expid {
  white-space: nowrap;
  line-height: 76px;
}
table.dataTable .list-group li:last-child {
  border-bottom: none;
}
table.dataTable .timestamp {
  white-space: nowrap;
  padding: 10px 5px;
}
table.dataTable thead {
  background: -webkit-gradient(linear,0% 0%, 0% 90%,from(#ffffff),to(#fed7b2));
  background: -moz-linear-gradient(top,#ffffff,#fed7b2);
  background: -o-linear-gradient(top,#ffffff,#fed7b2);
  background: -ms-linear-gradient(top,#ffffff,#fed7b2);
  background: linear-gradient(top,#ffffff,#fed7b2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='fed7b2');
  background: linear-gradient(top,#ffffff,#fed7b2);
  color: #e27000;
}
table.dataTable thead th {
  white-space: nowrap;
  text-align: center;
  border: solid #F8C695;
  border-width: 1px;
}
table.dataTable.no-footer {
  border-bottom: 1px solid #ddd;
}
table.dataTable thead > tr > th {
  padding: 10px 5px;
}
table.dataTable tbody {
  font-weight: 200;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_desc:after {
  display: none;
}
table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc {
  background-color: #F8C695;
}
table.dataTable th, table.dataTable td {
  word-wrap: break-word;
}
table.dataTable .title {
  min-width: 200px;
  word-wrap: break-word;
  word-break: break-all;
}
