<div class="chart-table-container">
    <div class="sep margin-top margin-bottom">eeee</div>
    <div class="clear"></div>
    <div class="table-container">
        <table>
            <tr><td>结果页面：</td><%=age%></tr>

        </table>
    </div>
    <div class="placeholder"></div>
</div>
