<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %> - Inveno</title>
    <link href="/build/css/lib.min.css" rel="stylesheet">
    <% for (var i = 0; i < css.length; i++) { %>
        <link href="<%= css[i] %>" rel="stylesheet">
    <% } %>
</head>

<body>
