<div class="metrics-list">
	<% include ../common/form_metric %>
    <button type="button" class="toggleCharts btn btn-sm btn-success pull-right"> Toggle Charts</button>
    <div class="clear"></div>
</div>

<div class="chart-table-container">
    <div class="chart-container"></div>
    <div class="clear"></div>
    <div class="sep margin-top margin-bottom"></div>
    <div class="table-container"></div>
    <div class="placeholder"></div>
</div>
